* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    background-color: green;
}

:root {
    --primary-color: #2e80ce;
    --text-color: #575f66;
    --heading-color: #10375c;
    --white-color: #ffffff;
    --light-gray-color: #aab3ba;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}
